<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IFDB - Internet Film Database</title>
  </head>
  <body>

    <div>
      <h1>Internet FILM Database</h1>
      <h2>Not movies... Films.</h2>
    </div>

    <%= yield %>

  </body>
</html>
